<?php

return array(
	'doctrine' => array(
        'connection' => array(
            'orm_default' => array(
                'params' => array(
                    'host'          => 'localhost',
                    'port'          => '3306',
                    'user'          => 'root',
                    'password'      => 'root',
                    'dbname'        => 'lahalle',
                )
            )
        )
    ),
	// Assetic configuration
	'assetic_configuration' => array(
		'buildOnRequest' => true,
		'debug' => false,
		'acceptableErrors' => array(
			//defaults
			\Zend\Mvc\Application::ERROR_CONTROLLER_NOT_FOUND,
			\Zend\Mvc\Application::ERROR_CONTROLLER_INVALID,
			\Zend\Mvc\Application::ERROR_ROUTER_NO_MATCH,
			//allow assets when authorisation fails when using the BjyAuthorize module
			\BjyAuthorize\Guard\Route::ERROR,
		),

		'webPath' => __DIR__ . '/../../../public/assets',
		'cacheEnabled' => false,
		'cachePath' => __DIR__ . '/../../../data/cache',
	),
    'facebook' => array(
        'fb_appid'  => '118474821657382',
        'fb_secret' => 'fde26982baea07cab11881876a45a5fe',
        'fb_page'   => '330253093762158',
    ),
    'contact' => array( 'email' => 'contact1@test.com'),
    'rss' => array(
        'url' => 'http://www.metrofrance.com/rss.xml?c=1157379272-9',
    ),
);
