<?php
$settings = array(

    /**
     * Bitly Account : A service for shortening url :)
     */
    'bitlyUsername' => 'o_7t2s2bjmun',
    'bitlyApiKey'   => 'R_335290ffb3f5fc08b45d3e0e6678c3db',
    'bitlyUrl'      => 'http://api.bit.ly/v3/shorten',

    /**
    * Google ReCaptcha
    */
    'gReCaptchaUrl' => 'https://www.google.com/recaptcha/api/siteverify',
    'gReCaptchaKey' => '',
    
    'twitterCard' => array(
        'enable'     => false, // can be enable for a specific page
        'useDefault' => true, // use defaults tag below if a tag is not set
        'default'    => array(
            'twitter:site'          => 'Site Playground',
            'twitter:card'          => 'summary_large_image',
            'twitter:title'         => 'Title Playground',
            'twitter:description'   => 'Description Playground',
            'twitter:image:src'     => '',
        ),
    ),
    
    /**
    * Social messages
    */
    'defaultShareMessage' => 'Venez jouez au jeu : __placeholder__ de Playground',

    /**
     * Email transport
     *
     * Name of Zend Transport Class to use
     */
    'transport_class' => 'Laminas\Mail\Transport\File',
    'options_class' => 'Laminas\Mail\Transport\FileOptions',
    'options' => array(
        'path'              => 'data/mail/',
        'callback'  => function (\Laminas\Mail\Transport\File $transport) {
            return 'Message_' . microtime(true) . '_' . mt_rand() . '.txt';
        },
    ),
    
    'twilio' => array(
        /**
         * The SID to for your Twilio account.
         */
        'sid' => '',

        /**
         * The token for your Twilio account.
         */
        'token' => '',

    ),
    
    'phpvideotoolkit' => array(
        'temp_directory'              => 'data/videos/temp',
        'ffmpeg'                      => '/usr/local/bin/ffmpeg',
        'ffprobe'                     => '/usr/local/bin/ffprobe',
        'yamdi'                       => '/usr/local/bin/yamdi',
        'qtfaststart'                 => '/usr/local/bin/qt-faststart',
        'gif_transcoder'              => 'php',
        'convert'                     => '/usr/local/bin/convert',
        'gifsicle'                    => '/usr/local/bin/gifsicle',
        'php_exec_infinite_timelimit' => true,
    ),

    'ckeditor' => array(
        'BasePath' =>'zfcadmin/js/lib/ckeditor',
        'Width'      => "100%",
        'Height'     => "340",
        'Language'   => 'fr',
        'Color'      => '#F7F7F7',
        'stylesSet'  => 'custom_styles:/zfcadmin/js/ckeditor-custom/ckeditor-styles.js',
        'templates_files'  => array('/zfcadmin/js/ckeditor-custom/ckeditor-templates.js'),
        'contentsCss'  => array('/zfcadmin/css/ckeditor-custom/ckeditor-css.css'),

        // Full toolbars
        'Toolbar'    => array(
            array('Source','-','DocProps','Preview','Print'),
            array('Cut','Copy','Paste','PasteText','PasteFromWord','-','Undo','Redo'),
            array('Find','Replace','-','SelectAll','-','SpellChecker', 'Scayt'),
            array('Form', 'Checkbox', 'Radio', 'TextField', 'Textarea', 'Select', 'Button', 'ImageButton', 'HiddenField'),
            '/',
            array('Bold','Italic','Underline','Strike','Subscript','Superscript','-','RemoveFormat'),
            array('NumberedList','BulletedList','-','Outdent','Indent','-','Blockquote','CreateDiv','-','JustifyLeft','JustifyCenter','JustifyRight','JustifyBlock','-','BidiLtr','BidiRtl'),
            array('Link','Unlink','Anchor' ),
            array('Image','Flash','Table','HorizontalRule','Smiley','SpecialChar','PageBreak'),
            '/',
            array('Styles','Format','Font','FontSize'),
            array('TextColor','BGColor' ),
            array('Maximize', 'ShowBlocks','-','About'),
        ),
        'ElFinderBaseURL'      => '/admin/elfinder/ckeditor',
        'ElFinderWindowWidth'  => "1000",
        'ElFinderWindowHeight' => "650",
    ),

    'QuConfig' => array(
        'QuElFinder'=>array(
            'QuRoots'=>array(
                'driver'        => 'LocalFileSystem',
                'path'          =>  'C:\programmation\www\playground\public\uploads\files',
                'URL'           =>  '/uploads/files/',
                'accessControl' => 'access'
            ),
            'BasePath'=>'/js/lib/elfinder',
        ),
    ),
    'googleAnalytics' => array(
        'enable_tracking' => true,
        'id' => 'UA-32092452-1',

        /**
        * Tracking across multiple (sub)domains
        * @see https://developers.google.com/analytics/devguides/collection/gajs/gaTrackingSite
        */
        'domain_name'   => '',
        'allow_linker' => false,
    ),
    
    'facebookOpengraph' => array(
        'enable' => true,
        'appId'  => '118474821657382',
        'tags'   => array(
            'og:site_name'  => 'Site Playground',
            'og:type'       => 'game',
        ),
    ),
);
 
$laminas-developer-tools = array(
    'profiler' => array(
        'enabled' => true,
        'strict' => false,
        'flush_early' => false,
        'cache_dir' => 'data/cache',
        'matcher' => array(),
        'collectors' => array(),
    ),
    'toolbar' => array(
        'enabled' => true,
        'auto_hide' => false,
        'position' => 'bottom',
        'version_check' => true,
        'entries' => array(),
    ),
);

// with jquery, the config to call pg as cors is like that
//    $.ajax({
//      type: 'POST',
//      url: loginUrl,
//      crossDomain: true,
//      headers: {'X-Requested-With': 'XMLHttpRequest'},
//      xhrFields: {withCredentials: true},
//      data: {'email': 'bessong@gmail.com','password': 'aaaaaa'},
//      dataType: 'json',
//      success: function(responseData, textStatus, jqXHR) {
//          console.log(responseData);
//      },
//      error: function (responseData, textStatus, errorThrown) {
//          console.log(errorThrown);
//      }
//    });

$zfrcors = array(
    // cors from a localhost:3000 and Postman (chrome extension)
    'allowed_origins' => array('http://localhost:3000','chrome-extension://fhbjgbiflinjbdggehcddcbncdddomop'),
    'allowed_methods' => array('GET', 'POST', 'OPTIONS'),
    // this method is mandatory for pg to return json
    'allowed_headers' => array('X-Requested-With'),
    'max_age' => 120,
    // to use session
    'allowed_credentials' => true,
),

// 'Jhu\ZdtLoggerModule' config
// $sm->get('jhu.zdt_logger')->info('my log');
$zdt_logger = array(
    'logger' => 'Laminas\Log\Logger'
);

/**
 * You do not need to edit below this line
 */
return array(
    'playgroundcore' => $settings,
    'laminas-developer-tools'=> $laminas-developer-tools,
    'zfr_cors' => $zfrcors,
    'jhu' => array('zdt_logger' => $zdt_logger)
);
